.modal__overlay {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .45);
}

.modal__overlay.active {
    display: flex;
}

.modal__content {
    width: 400px;
    padding: 16px;
    background-color: #fff;
    border-radius: 5px;
}

.item-name {
    width: -webkit-fill-available;
    height: 30px;
    border-radius: 5px;
    outline: 0;
    border: 1px solid #c3c3c3;
    padding: 0 8px;
}

.item-name:focus {
    border-color: #4791db;
}

.buttons__wrapper {
    margin-top: 16px;
    display: flex;
    justify-content: flex-end;
}

.modal__button {
    width: 70px;
    height: 30px;
    border-radius: 5px;
    color: #fff;
    background-color: #81c784;
    outline: 0;
    border: 0;
    cursor: pointer;
}

.modal__button.cancel {
    background-color: #e57373;
    margin-right: 8px;
}